<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ActionZone"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActionZone"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ActionZone.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionZone.NoActionBar" />

        <!-- RechercheActivity : recherche via API TMDB -->
        <activity
            android:name=".RechercheActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionZone.NoActionBar" />

        <!-- DetailActivity : détail et ajout d'un film -->
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionZone.NoActionBar" />

        <!-- ParametresActivity : paramètres utilisateur -->
        <activity
            android:name=".ParametresActivity"
            android:exported="false"
            android:theme="@style/Theme.ActionZone.NoActionBar" />

    </application>

</manifest>